.sc-dmXWDj.dRGftM > a {
    
    height : 10%
}
.sc-dmXWDj.dRGftM  {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.sc-dmXWDj.dRGftM > button {
    margin : 5%
}

